/GoogleVisionBarCodeScanner.Droid/obj
/GoogleVisionBarCodeScanner.Droid/bin
/GoogleVisionBarCodeScanner.Droid/*.nupkg
/GoogleVisionBarCodeScanner.Droid/nuget.exe
/.vs/GoogleVisionBarCodeScanner/v16/.suo
/GoogleVisionBarCodeScanner.Droid/.vs/GoogleVisionBarCodeScanner/v16/.suo
/GoogleVisionBarCodeScanner.Droid/.vs/GoogleVisionBarCodeScanner/v16/Server/sqlite3/db.lock
/GoogleVisionBarCodeScanner.Droid/.vs/GoogleVisionBarCodeScanner/v16/Server/sqlite3/storage.ide
/.vs/GoogleVisionBarCodeScanner
/BarcodeScanner.XF/bin/Debug/netstandard2.0
/BarcodeScanner.XF/obj
/GoogleVisionBarCodeScanner/bin/Debug/netstandard2.0
/GoogleVisionBarCodeScanner/obj
/GoogleVisionBarCodeScanner.iOS/bin/Debug
/GoogleVisionBarCodeScanner.iOS/obj/Debug
/packages
/SampleApp/SampleApp/bin/Debug/netstandard2.0
/SampleApp/SampleApp/obj
/SampleApp/SampleApp.Android/bin/Debug
/SampleApp/SampleApp.Android/obj
/SampleApp/SampleApp.iOS/bin/iPhone/Debug
/SampleApp/SampleApp.iOS/obj
