/GoogleVisionBarCodeScanner.Droid/obj
/GoogleVisionBarCodeScanner.Droid/bin
/GoogleVisionBarCodeScanner.Droid/*.nupkg
/GoogleVisionBarCodeScanner.Droid/nuget.exe
/.vs/GoogleVisionBarCodeScanner/v16/.suo
/GoogleVisionBarCodeScanner.Droid/.vs/GoogleVisionBarCodeScanner/v16/.suo
/GoogleVisionBarCodeScanner.Droid/.vs/GoogleVisionBarCodeScanner/v16/Server/sqlite3/db.lock
/GoogleVisionBarCodeScanner.Droid/.vs/GoogleVisionBarCodeScanner/v16/Server/sqlite3/storage.ide
/.vs/GoogleVisionBarCodeScanner
/BarcodeScanner.XF/bin/Debug/netstandard2.0
/BarcodeScanner.XF/obj
/GoogleVisionBarCodeScanner/bin/Debug/netstandard2.0
/GoogleVisionBarCodeScanner/obj/Debug/netstandard2.0
/GoogleVisionBarCodeScanner/obj
/GoogleVisionBarCodeScanner.iOS
/packages
/SampleApp/SampleApp
/SampleApp
/BarcodeScanner.XF.2.0.0.nupkg
/GoogleVisionBarCodeScanner/bin/Debug
