<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534701650205-v0d6n6t28gfdafdu4pjqep65n5vl27u6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534701650205-v0d6n6t28gfdafdu4pjqep65n5vl27u6</string>
	<key>API_KEY</key>
	<string>AIzaSyDDZCCdkH6YzkpVwLKUllQaILrK5_x7xbY</string>
	<key>GCM_SENDER_ID</key>
	<string>534701650205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nwcon.MobileGRN.UAT</string>
	<key>PROJECT_ID</key>
	<string>mobilegrn-4ac87</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilegrn-4ac87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534701650205:ios:7816859f7a67b2f9</string>
	<key>DATABASE_URL</key>
	<string>https://mobilegrn-4ac87.firebaseio.com</string>
</dict>
</plist>